<!DOCTYPE html>
<html lang="en">
<head>
    <title>rPi Bot</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div class="container">
        <form action="/send_command" method="get" id="command-form">
            <label for="command">Enter Command:</label><br>
            <input type="text" id="command" name="command" class="input-text"><br><br>
        </form>

	<iframe height="500" width=49.4% src="/see_errors" title="see the errors" class="iframe-errors"></iframe>

      <iframe height="500" width=49.4% src="/see_updates" title="see the updates" class="iframe-errors"></iframe>

    </div>
</body>
</html>
